/* button {
  flex-grow: 1;
  margin: 10px;
  width: 64px;
  height: 64px;
} */

.arrow {
  margin: 10px;
  padding: 5px;
  position: absolute;
  width: 44px;
  height: 44px;
  left: 20px;
  top: 60px;
  background: #ffffff;
  border-radius: 8px;
}
.fill {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.vector {
  position: absolute;
  left: 24%;
  top: 24%;
  background: #2e57fa;
}

@media screen and (max-width: 768px) {
  .arrow {
    top: 0px;
    left: 30px;
  }
}
