.arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 44px;
  height: 44px;
  left: 20px;
  top: 20px;

  background: #ffffff;
  border-radius: 8px;
}
.fill {
  width: 24px;
  height: 24px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.vector {
  position: relative;
  left: 16.67%;
  right: 16.67%;
  top: 20.83%;
  bottom: 20.83%;

  /* #2E57FA */

  background: #2e57fa;
}
