@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
.box {
  /* background-color: #ef4444; */
  display: flex;
  justify-content: flex-start;
  flex-flow: column grow;
  align-items: stretch;
  height: 100%;
}

.body {
  flex-grow: 1;
  background-color: #fff;
  padding: 5%;
  margin: 2% 10%;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.body h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  color: #b1b9db;
}

.error {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ef4444;
  width: 400px;
  border-radius: 121px;
  color: white;
}

.loading {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f1f5f9;
  width: 400px;
  border-radius: 121px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .body {
    margin: 15% 5%;
  }
}
.main {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}

ul {
  padding-left: 0%;
}

.availability {
  border-radius: 5px;
}

.eclipse {
  width: 12px;
  height: 12px;
  left: -5px;
  top: -5px;
  border: 2px solid #fff;
}

.available {
  box-sizing: border-box;
  position: absolute;
  background-color: #16ba44;
}

.not-available {
  box-sizing: border-box;
  position: absolute;
  background-color: #b1b9db;
}

.icons {
  margin: 10px;
  padding: 5px;
  position: absolute;
  width: 44px;
  height: 44px;
}

.close {
  right: 20px;
  top: 0px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.arrow {
  left: 20px;
  top: 60px;
  background: #ffffff;
  border-radius: 8px;
}

.icons-blue {
  color: #2e57fa;
}

.icons-white {
  color: #ffffff;
}

.fill {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector {
  position: absolute;
  left: 24%;
  top: 24%;
}

@media screen and (max-width: 768px) {
  .arrow {
    top: 0px;
    left: 30px;
  }
}
.modal-content {
  /* background-color: aqua; */
  width: auto;
  height: auto;
  padding: 10px;
  margin: 5%;
  position: relative;
}
.modal-content img {
  max-width: 600px;
  max-height: 600px;
}

.modal {
  background-color: rgba(55, 62, 90, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-out;
}

#miModal {
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  height: 88px;
  margin: 2%;
  padding: 8px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
  border-radius: 8px;
}

.card-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  top: calc(50% - 26px);
}

img.small {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}

img.medium {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 100%;
  height: 52px;
  left: 88px;
  top: calc(50% - 26px);
}

.card-header-name {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
.card-header-name span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.card-header-status {
  align-items: flex-start;
  padding: 0px 8px;
  gap: 10px;
  height: 24px;
  border: 1px solid #b1b9db;
  border-radius: 20px;
}
.card-header-status span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #b1b9db;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 768px) {
  .card {
    height: 120px;
  }

  .card-img {
    top: 10px;
  }

  .card-header {
    top: 10px;
  }
}
.details-button {
  position: absolute;
  right: 24px;
  top: calc(50% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  width: 91px;
  height: 40px;
  background: #2e57fa;
  border: 1px solid #0637f9;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
}

.details-button:hover {
  background: #0637f9;
  border: 1px solid #0637f9;
  border-radius: 4px;
}

.details-button:active {
  background: #052dcc;
  border: 1px solid #0637f9;
  border-radius: 4px;
}

.details-button:disabled {
  box-sizing: border-box;
  background: #f8f8fa;
  border: 1px solid #d0d3da;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .details-button {
    position: relative;
    top: 70px;
    left: 160px;
  }
}
.tab1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  width: 65px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  width: 65px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nav {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 140px;
  height: 32px;
  position: relative;
  margin-top: 10px;
}
.nav span {
  cursor: pointer;
}
.nav .inactive {
  width: 54px;
  height: 24px;
  /* Headline/H300 (medium) */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #5c5f6b;
}
.nav .line {
  width: 65px;
  height: 0px;
  border: 2px solid #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title {
  width: 187px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #b1b9db;
}

.text {
  width: 432px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.gallery {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.gallery button {
  border: 0px;
  padding: 0%;
  margin: 0%;
}
.gallery img {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 136px;
  height: 136px;
  border-radius: 4px;
  margin: 0px;
  cursor: pointer;
}

.section {
  padding: 28px;
  gap: 28px;
  width: 488px;
  margin: 2%;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
  border-radius: 8px;
}

.divider {
  width: 424px;
  height: 0px;
  border: 1px solid rgba(177, 185, 219, 0.5);
}

.show-card {
  position: relative;
  height: 100%;
  margin: 2%;
  padding: 8px;
}

.show-card-content {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
}

.show-card-header-status {
  align-items: flex-start;
  padding: 0px 8px;
  gap: 10px;
  height: 24px;
  border: 1px solid #b1b9db;
  border-radius: 20px;
  position: absolute;
  top: 40px;
}
.show-card-header-status span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #b1b9db;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.show-card-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  top: 0px;
}

.show-card-box-data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 100%;
  top: 50px;
}

html {
  background-color: #f1f5f9;
  margin: 5% 5%;
}

/*# sourceMappingURL=index.css.map */
