.availability {
  border-radius: 5px;
}

.eclipse {
  width: 12px;
  height: 12px;
  left: -5px;
  top: -5px;
  border: 2px solid #fff;
}

.available {
  box-sizing: border-box;
  position: absolute;
  background-color: #16ba44;
}

.not-available {
  box-sizing: border-box;
  position: absolute;
  background-color: #b1b9db;
}
